.resume-wrapper {
  background-color: var(--my-black);
  display: flex;
  flex-direction: row;
}
.cv-container {
  width: 70%;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: var(--my-black);
}

.cv-title {
  color: var(--light);
}

.cv-preview {
  border-radius: 5%;
  border: 1px solid var(--text-hover);
  padding: 0%;
  margin: 5px;
  max-width: 100%;
  height: auto;
}

.cv-preview:hover {
  opacity: 70%;
}

.download-cv {
  margin: 0;
}

.skills-holder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 30%;
}

.skill-list {
  color: var(--light);
  list-style: none;
  font-size: 2em;
}

.skills-title {
  text-align: start;
  color: var(--light);
}

.download-link {
  color: var(--navlink-active);
}

.download-link:hover {
  color: var(--light);
}
