:root {
  /* Colour Variables */
  --dark: #081c15;
  --light: #52b788;
  --navlink-active: #2d6a4f;
  --text-hover: #74c69d;
}

@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+Display:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gugi&display=swap");

.header {
  display: flex;
  height: 150px;
  width: auto;
  background-image: url(../../../public/header.gif);
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

.nav-header-container {
  align-items: center;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100vw;
  padding: 10px;
}

.home-btn {
  color: var(--light);
  background-color: black;
  font-size: 2vw;
  margin: 0;
  margin-bottom: 10px;
  border: 1px solid var(--light);
  padding: 10px;
  border-radius: 50%;
}

.home-btn:hover {
  background-color: var(--navlink-active);
  cursor: pointer;
}

.header-title {
  text-decoration: none;
}

.nav-container {
  display: flex;
  gap: 50px;
  text-align: center;
  font-size: 2vw;
}

.cv-btn {
  display: flex;
  background-color: black;
  color: var(--navlink-active);
  border: 2px solid var(--navlink-active);
  border-radius: 8px;
  width: 4.5rem;
  justify-content: center;
  align-items: center;
}

.cv-btn:hover {
  background-color: var(--navlink-active);
  cursor: pointer;
}
.cv-btn > a {
  display: flex;
  text-decoration: none;
  font-size: 2vw;

  justify-content: center;
  color: var(--light);
}

.nav-container > a {
  color: var(--light);
  transition: 0.15s ease-in-out;
  text-decoration: none;
}

.nav-container > a:hover {
  color: var(--text-hover);
}

.nav-container .active {
  color: var(--navlink-active);
  border-bottom: 1px solid var(--text-hover);
}

/*Responsive Queries*/
@media screen and (max-width: 768px) {
  .nav-header-container {
    flex-direction: column;
    justify-content: center;
    font-size: 4vw;
  }
  .cv-btn {
    font-size: 2.5vw;
  }
  .cv-btn > a {
    font-size: 2.5vw;
  }
}
