:root {
  /* Colour Variables */
  --dark: #081c15;
  --light: #52b788;
  --navlink-active: #2d6a4f;
  --text-hover: #74c69d;
  --my-black: #000000;
}

.footer-container {
  background-color: var(--my-black);
  height: 100px;
  color: var(--light);
  border-top: 0.5px solid var(--light);
  padding-top: 10px;
}

.footer-link-holder {
  text-align: center;
}

.footer-link-holder a {
  padding: 10px;
}

.footer-links {
  text-decoration: none;
  color: var(--light);
  transition: 0.15s ease-in-out;
  height: 5px;
  width: 5px;
}

.footer-links:hover {
  color: var(--navlink-active);
}

.rights {
  text-align: center;
}
