:root {
  /* Colour Variables */
  --dark: #290458;
  --light: rgb(211, 209, 209);
  --navlink-active: #910e7b;
  --text-hover: #a1156c;
}

@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+Display:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gugi&display=swap");

.header {
  display: flex;
  height: 150px;
  width: 100%;
  position: fixed;
  background-image: url(../../../public/header.gif);
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

.nav-header-container {
  align-items: center;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  padding: 20px;
}

h1 {
  color: var(--light);
  font-size: 3em;
}
.nav-container {
  display: flex;
  gap: 30px;
  text-align: center;
  font-size: 2em;
}

.nav-container > a {
  color: var(--light);
  transition: 0.15s ease-in-out;
  text-decoration: none;
}

.nav-container > a:hover {
  color: var(--text-hover);
  border-bottom: 1px solid var(--text-hover);
}

.nav-container .active {
  color: var(--navlink-active);
}
